---
import "@fontsource/geist-sans";

import MonacoAstroComponent from "../components/editor";

// @ts-ignore
import ThemeProvider from "virtual:starlight/components/ThemeProvider";

import { FaBeer as PlayIcon } from "react-icons/fa";
import Logo from "@/components/duwa.astro";
import "@/components/editor/editor.css";

// import "virtual:starlight/user-css";
import { Button } from "@/components/ui/button";
import DuwaEditor from "@/components/editor/editor";
---

<html class="fixed overflow-hidden h-full w-full dark">
  <head>
    <!-- <ThemeProvider {...Astro.props} /> -->
  </head>
  <body
    class="overflow-hidden w-full min-h-full text-foreground bg-background"
  >
    <div class="">
      <DuwaEditor client:only />
    </div>
  </body>
</html>
